body { 
	margin: 10px;
	font-size: 20pt;
}

img.complete {
    width:100%;
    max-width:980px;
}

pre.code {
	font-size: 18pt;
}

.subtitle {
	font-style: italic;
}

.onethird {
	max-width: 30%;
}

.title {
	font-size: 28pt;
	color: #6aa1bd;
}

.author {
	font-size: 20pt;
	color: #88d1f1;
	padding-bottom: 100px;	
}

td.heading {
	background-color: #88d1f1;
}