<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h1>{{slide.title}} <small>{{slide.subTitle}}</small></h1>
        </div>
        <div ng-repeat="item in slide.content">
            <div ng-switch="item.type">
                <div ng-switch-when="notification">
                    <div class="alert alert-success" role="alert">{{item.text}}</div>
                </div>                
                <div ng-switch-when="image">
                    <img class="complete" ng-src="img/{{item.imgSource}}"/>
                </div>
                <div ng-switch-when="images">
                    <slider images="item.imgSources"/>
                </div>
                <div ng-switch-when="table">
                    <table class="table">
                        <tr ng-repeat="currentRow in item.rows">
                            <td ng-repeat="currentCol in currentRow.cols">
                                {{currentCol}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-switch-when="list">
                    <ul>
                        <li ng-repeat="listItem in item.items">{{listItem}}</li>
                    </ul>
                </div>
                <div ng-switch-when="query">
                    <pre>{{item.query | json}}</pre>
                    <form ng-submit="executeSearch(item.queryType,searchText)">
                    <div class="input-group">                        
                        <input type="text" class="form-control" ng-model="searchText">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" >Search!</button>
                        </span>
                    </div><!-- /input-group -->
                    </form>
                    <div ng-show="searchResults">
                        <pre>{{searchResults | json}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
