<div class="row">
    <div class="col-md-12">
        <div class="page-header" ng-hide="slide.hidetitle">
            <h1>{{slide.title}} <small>{{slide.subTitle}}</small></h1>
        </div>
        <div ng-repeat="item in slide.content">
            <div ng-switch="item.type">
                <div ng-switch-when="notification">
                    <div class="alert alert-success" role="alert">{{item.text}}</div>
                </div>                
                <div ng-switch-when="reference">
                    <div class="alert alert-info" role="alert">{{item.reference}}</div>
                </div>                
                <div ng-switch-when="image">
                    <img class="complete" ng-src="img/{{item.imgSource}}"/>
                </div>
                <div ng-switch-when="images">
                    <slider images="item.imgSources" hideProgress="item.hideProgress"/>
                </div>
                <div ng-switch-when="illustration">
                    <img class="{{item.size}} {{item.location}}" ng-class="{'pull-right':item.pullright}" ng-src="img/{{item.imgSource}}"/>
                </div>
                <div ng-switch-when="quote" class="clearfix">                    
                    <div>
                        <div class="col-md-6 col-md-offset-4">
                            <p class="text-right title">{{item.text}}</p>
                            <p class="text-right author">{{item.author}}</p>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="table">
                    <table class="table {{item.class}}">
                        <tr ng-repeat="currentRow in item.rows">
                            <td ng-class="{heading:((item.firstColHeading && $index==0) || currentRow.highlight)}" ng-repeat="currentCol in currentRow.cols track by $index" ng-attr-colspan="{{currentRow.colspan}}">
                                {{currentCol}}
                            </td>
                        </tr>
                    </table>
                </div>
                <div ng-switch-when="list">
                    <bullits listitems="item.items" hideprogress="item.hideprogress"/>
                </div>
                <div ng-switch-when="query">
                    <pre class="code">{{item.query | json}}</pre>
                    <form ng-submit="executeSearch(item.queryType,item.explain,searchText)">
                    <div class="input-group">                        
                        <input type="text" class="form-control" ng-model="searchText">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit" >Search!</button>
                        </span>
                    </div><!-- /input-group -->
                    </form>
                    <div ng-show="searchResults">
                        <pre class="code" ng-hide="item.niceResults">{{searchResults | json}}</pre>
                        <div ng-show="item.niceResults">
                            <div ng-repeat="result in searchResults.hits.hits">
                                <div>
                                    <h3>{{result._source.title}}({{result._score}})</h3>
                                    <span>{{result._source.description}}</span>
                                </div>
                            </div>
                            <div ng-if="searchResults.hits.total == 0">
                                <span class="label label-warning">No results found</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-switch-when="query123">
                    <form class="form-inline" role="form" ng-submit="executeSearch123(searchText,searchOperator)">
                        <div class="btn-group">
                            <label class="btn btn-default" ng-model="searchOperator" btn-radio="'or'">OR</label>
                            <label class="btn btn-default" ng-model="searchOperator" btn-radio="'and'">AND</label>
                        </div>
                        <div class="form-group">
                            <div class="input-group">                        
                                <input type="text" class="form-control" ng-model="searchText">
                            </div>
                        </div>
                        <button class="btn btn-default" type="submit" >Search!</button>
                    </form>
                    <div ng-show="searchResults">
                        <pre class="code">{{searchResults | json}}</pre>
                    </div>
                </div>
                <div ng-switch-when="code">
                    <pre class="code">{{item.code | json}}</pre>
                </div>
                <div ng-switch-when="text">{{item.text}}</div>
                <div ng-switch-when="executeget">
                    <button class="btn btn-default" type="button" ng-click="executeQuery(item.executetype,item.parameter)">Execute!</button>
                    <div ng-show="searchResults">
                        <pre class="code">{{searchResults | json}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
